In [39]:
import pandas as pd
import numpy as np

In [40]:
symbol = ['msft', 'aapl', 'amzn', 'adbe', 'qcom', 'orcl', 'acn', 'ibm', 'xom', 'intu',
         'pg', 'blk', 'ups', 'hd', 'mcd', 't', 'a', 'wmt', 'dis', 'tgt',
         'adi', 'jnj', 'mrk', 'mdt', 'syk', 'cl', 'el', 'ko', 'mmm', 'nke',
         'utx', 'lmt', 'axp', 'spg', 'mmc', 'all', 'k', 'low', 'gild', 'yum',
         'pld', 'stt', 'ip', 'nee', 'shw', 'ea', 'abt', 'unh', 'vrsn', 'lly']

symbol.sort(reverse=True)

In [41]:
estimates_csv = []

for s in symbol:
    # Loop through the Features_Data folder, add ticker column to each csv with each read then append
    estimate_csv = pd.read_csv(f'stocks/{s}_estimate.csv')
    estimates_csv.append(estimate_csv)
    
estimates_df = pd.concat(estimates_csv)

In [42]:
estimates_df

    actual  estimate      period symbol
0     1.00   1.13000  2019-12-31    YUM
1     0.80   0.94000  2019-09-30    YUM
2     0.93   0.87000  2019-06-30    YUM
3     0.82   0.81000  2019-03-31    YUM
4     0.40   0.94850  2018-12-31    YUM
5     1.04   0.82886  2018-09-30    YUM
6     0.82   0.74367  2018-06-30    YUM
7     0.90   0.68395  2018-03-31    YUM
8     0.96   0.79548  2017-12-31    YUM
9     0.68   0.66757  2017-09-30    YUM
10    0.68   0.61100  2017-06-30    YUM
11    0.65   0.59771  2017-03-31    YUM
12    0.79   0.74048  2016-12-31    YUM
13    1.09   1.10005  2016-09-30    YUM
14    0.75   0.74036  2016-06-30    YUM
15    0.95   0.83010  2016-03-31    YUM
16    0.68   0.66242  2015-12-31    YUM
17    1.00   1.06519  2015-09-30    YUM
18    0.69   0.62375  2015-06-30    YUM
19    0.80   0.71658  2015-03-31    YUM
20    0.61   0.66175  2014-12-31    YUM
21    0.87   0.88448  2014-09-30    YUM
22    0.73   0.74430  2014-06-30    YUM
23    0.87   0.85146  2014-03-31    YUM
24    0.86   0.79981  2013-12-31    YUM
25    0.85   0.92671  2013-09-30    YUM
26    0.56   0.54295  2013-06-30    YUM
27    0.70   0.60312  2013-03-31    YUM
28    0.83   0.81646  2012-12-31    YUM
29    0.99   0.97000  2012-09-30    YUM
..     ...       ...         ...    ...
42    0.13   0.12743  2009-06-30      A
43    0.20   0.28286  2009-03-31      A
44    0.62   0.58875  2008-12-31      A
45    0.53   0.54143  2008-09-30      A
46    0.51   0.48143  2008-06-30      A
47    0.42   0.41286  2008-03-31      A
48    0.53   0.52143  2007-12-31      A
49    0.48   0.48500  2007-09-30      A
50    0.43   0.44000  2007-06-30      A
51    0.39   0.38571  2007-03-31      A
52    0.52   0.53500  2006-12-31      A
53    0.46   0.42200  2006-09-30      A
54    0.40   0.38000  2006-06-30      A
55    0.32   0.30000  2006-03-31      A
56    0.38   0.37011  2005-12-31      A
57    0.28   0.26000  2005-09-30      A
58    0.20   0.20000  2005-06-30      A
59    0.20   0.18700  2005-03-31      A
60    0.30   0.30700  2004-12-31      A
61    0.30   0.27500  2004-09-30      A
62    0.24   0.23800  2004-06-30      A
63    0.21   0.21900  2004-03-31      A
64    0.15   0.05400  2003-12-31      A
65   -0.02  -0.06727  2003-09-30      A
66   -0.15  -0.15100  2003-06-30      A
67   -0.23  -0.25500  2003-03-31      A
68    0.00  -0.11933  2002-12-31      A
69   -0.31  -0.15000  2002-09-30      A
70   -0.31  -0.23125  2002-06-30      A
71   -0.29  -0.43211  2002-03-31      A

[3600 rows x 4 columns]

In [43]:
year = []
for i in range(len(estimates_df)):
    year.append(estimates_df.iloc[i]['period'].split("-")[0])

In [44]:
estimates_df['year'] = year

In [45]:
month = []
quarter = []
for i in range(len(estimates_df)):
    month.append(estimates_df.iloc[i]['period'].split("-")[1])
    if month[i] == '12':
        quarter.append(4)
    elif month[i] == '09':
        quarter.append(3)
    elif month[i] == '06':
        quarter.append(2)
    else:
        quarter.append(1)

In [46]:
estimates_df['quarter'] = quarter

In [47]:
estimates_df['beat'] = np.where(estimates_df['actual'] - estimates_df['estimate'] >= 0, 1, 0)

In [52]:
estimates_df.head()

   actual  estimate      period symbol  year  quarter  beat
0    1.00    1.1300  2019-12-31    YUM  2019        4     0
1    0.80    0.9400  2019-09-30    YUM  2019        3     0
2    0.93    0.8700  2019-06-30    YUM  2019        2     1
3    0.82    0.8100  2019-03-31    YUM  2019        1     1
4    0.40    0.9485  2018-12-31    YUM  2018        4     0

In [49]:
estimates_df.to_csv('estimates_df.csv', index=False)

In [50]:
len(estimates_df)

3600