In [1]:
import pandas as pd
import numpy as np
import requests
import time

In [2]:
symbol = ['aapl', 'amzn', 'ea', 'intu', 'msft']

In [3]:
# for k in range(len(symbol)):
#     r = requests.get(f"https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol={symbol[k]}&apikey=SVRXBBY37Z6W0BJZ").json()
    
#     df = pd.DataFrame(r['Time Series (Daily)'])
#     df = df.T


#     date = []
#     for row in df.index:
#         date.append(row)
        
#     df['date']=date
#     df.set_index(np.arange(0,len(df)), inplace = True)
#     df = df.iloc[0:35]
#     df.set_index(np.arange(0,len(df)), inplace = True)
#     sym = r['Meta Data']['2. Symbol']
#     symb = [sym]*len(df)
#     df['symbol'] = symb
                


#     year = []
#     month = []
#     quarter = []
#     popen = []
#     phigh = []
#     plow = []
#     pclose = []
#     pvolume = []
#     for i in range(len(df)):
#         year.append(df.iloc[i]['date'].split("-")[0])
#         month.append(df.iloc[i]['date'].split("-")[1])
#         if month[i] == '12' or month[i] == '11' or month[i] == '10':
#             quarter.append(4)
#         elif month[i] == '09'or month[i] == '08' or month[i] == '07':
#             quarter.append(3)
#         elif month[i] == '06' or month[i] == '05' or month[i] == '04':
#             quarter.append(2)
#         else:
#             quarter.append(1)
#         popen.append(float(df.iloc[i]['1. open']))
#         phigh.append(float(df.iloc[i]['2. high']))
#         plow.append(float(df.iloc[i]['3. low']))
#         pclose.append(float(df.iloc[i]['4. close']))
#         pvolume.append(float(df.iloc[i]['5. volume']))
        
        
#     df['year'] = year
#     df['quarter'] = quarter
    
#     del df['1. open']
#     del df['2. high']
#     del df['3. low']
#     del df['4. close']
#     del df['5. volume']
    
#     df['open'] = popen
#     df['high'] = phigh
#     df['low'] = plow
#     df['close'] = pclose
#     df['volume'] = pvolume
    
#     uu = np.where(df['close'] - df['open'] > 0, 1, 0)
#     df["pup"] = uu
    
#     vv = []
#     for i in range(len(df)-1):
#         vv.append(df.iloc[i]['volume'] - df.iloc[i+1]['volume'])
    
#     vv.append(1)
    
#     ww = []
#     for j in range(len(vv)):
#         if vv[j] > 0:
#             vv[j] = 1
#         else:
#             vv[j] = 0
#         if uu[j] == 1 and vv[j] == 1:
#             ww.append(1)
#         else:
#             ww.append(0)
            
#     df["vup"] = vv
#     df["bothup"] = ww
    
    
#     df.to_csv(f'prediction/{symbol[k]}_prediction.csv', index=False)
#     time.sleep(5)

In [4]:
predictions_csv = []

for s in symbol:
    # Loop through the Features_Data folder, add ticker column to each csv with each read then append
    prediction_csv = pd.read_csv(f'prediction/{s}_prediction.csv')
    predictions_csv.append(prediction_csv)
    
prediction_df = pd.concat(predictions_csv)

In [5]:
prediction_df.head()

,date,symbol,year,quarter,open,high,low,close,volume,pup,vup,bothup
0,2020-02-21,aapl,2020,1,318.62,320.45,310.50,313.05,32081086.0,0,1,0
1,2020-02-20,aapl,2020,1,322.63,324.65,318.21,320.30,25141489.0,0,1,0
2,2020-02-19,aapl,2020,1,320.00,324.57,320.00,323.62,23495991.0,1,0,0
3,2020-02-18,aapl,2020,1,315.36,319.75,314.61,319.00,38190545.0,1,1,1
4,2020-02-14,aapl,2020,1,324.73,325.98,322.85,324.95,20028447.0,1,0,0

In [6]:
grouped = prediction_df.groupby(['symbol','year', 'quarter'])[['pup']]
sumupday = grouped.sum()['pup']
countupday = grouped.count()['pup']
pup = sumupday/countupday
len(pup)

feature1_pup = []
for i in range(len(pup)):
    feature1_pup.append(pup[(i)])

In [7]:
grouped = prediction_df.groupby(['symbol','year', 'quarter'])[['vup']]
sumvup = grouped.sum()['vup']
countvup = grouped.count()['vup']
vup = sumvup/countvup
len(vup)

feature2_vup = []
for i in range(len(vup)):
    feature2_vup.append(vup[(i)])

In [8]:
grouped = prediction_df.groupby(['symbol','year', 'quarter'])[['bothup']]
sumboth = grouped.sum()['bothup']
countboth = grouped.count()['bothup']
bothup = sumboth/countboth
len(bothup)

feature3_bothup = []
for i in range(len(bothup)):
    feature3_bothup.append(bothup[(i)])

In [9]:
grouped = prediction_df.groupby(['symbol','year', 'quarter'])[['close']]
aveclose = grouped.mean()['close']
len(aveclose)

feature4_aveclose = []
for i in range(len(aveclose)):
    feature4_aveclose.append(aveclose[(i)])

In [10]:
prediction_data = pd.DataFrame({'symbol': symbol, 'estimate' : [2.81, 6.43, 0.98, 1.02, 1.33]})

In [11]:
prediction_data

  symbol  estimate
0   aapl      2.81
1   amzn      6.43
2     ea      0.98
3   intu      1.02
4   msft      1.33

In [12]:
prediction_data['f1_pup'] = feature1_pup
prediction_data['f2_vup'] = feature2_vup
prediction_data['f3_bothup'] = feature3_bothup
prediction_data['f4_average_price'] = feature4_aveclose

In [13]:
prediction_data

  symbol  estimate    f1_pup    f2_vup  f3_bothup  f4_average_price
0   aapl      2.81  0.571429  0.485714   0.257143        315.388286
1   amzn      6.43  0.428571  0.371429   0.171429       1974.190000
2     ea      0.98  0.514286  0.457143   0.314286        109.695714
3   intu      1.02  0.571429  0.428571   0.228571        285.737429
4   msft      1.33  0.571429  0.542857   0.257143        171.723714

## Using Neural Network Model

In [14]:
from tensorflow.keras.models import load_model
model = load_model("stock1.h5")

WARNING:tensorflow:From C:\Users\ashka\Anaconda3\lib\site-packages\tensorflow\python\ops\init_ops.py:97: calling GlorotUniform.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
WARNING:tensorflow:From C:\Users\ashka\Anaconda3\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
WARNING:tensorflow:From C:\Users\ashka\Anaconda3\lib\site-packages\tensorflow\python\ops\init_ops.py:97: calling Zeros.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [15]:
X = prediction_data[['f1_pup', 'f2_vup', 'f3_bothup', 'f4_average_price', 'estimate']]

In [16]:
# Scale your data
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler().fit(X)
X_scaled = scaler.transform(X)

In [17]:
predictions_nn = model.predict_classes(X_scaled)

In [18]:
prediction_data['Prediction Beat? (NN)'] = predictions_nn

In [19]:
prediction_data

,symbol,estimate,f1_pup,f2_vup,f3_bothup,f4_average_price,Prediction Beat? (NN)
0,aapl,2.81,0.571429,0.485714,0.257143,315.388286,1
1,amzn,6.43,0.428571,0.371429,0.171429,1974.190000,1
2,ea,0.98,0.514286,0.457143,0.314286,109.695714,1
3,intu,1.02,0.571429,0.428571,0.228571,285.737429,1
4,msft,1.33,0.571429,0.542857,0.257143,171.723714,0

## Using Knn

In [20]:
import pickle
pkl_filename = "knn5.pkl"
with open(pkl_filename, 'rb') as file:
    knn5 = pickle.load(file)

In [21]:
predictions_knn5 = knn5.predict(X_scaled)

In [22]:
prediction_data['Prediction Beat? (knn5)'] = predictions_knn5

In [23]:
pkl_filename = "knn9.pkl"
with open(pkl_filename, 'rb') as file:
    knn9 = pickle.load(file)

In [24]:
predictions_knn9 = knn9.predict(X_scaled)

In [25]:
prediction_data['Prediction Beat? (knn9)'] = predictions_knn9

In [26]:
prediction_data

,symbol,estimate,f1_pup,f2_vup,f3_bothup,f4_average_price,Prediction Beat? (NN),Prediction Beat? (knn5),Prediction Beat? (knn9)
0,aapl,2.81,0.571429,0.485714,0.257143,315.388286,1,1,1
1,amzn,6.43,0.428571,0.371429,0.171429,1974.190000,1,1,1
2,ea,0.98,0.514286,0.457143,0.314286,109.695714,1,1,1
3,intu,1.02,0.571429,0.428571,0.228571,285.737429,1,1,1
4,msft,1.33,0.571429,0.542857,0.257143,171.723714,0,1,1